/*TITULO DE LA PÁGINA Y TEXTO DE CONTENIDO */

header {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 50px 0; /* Añade espacio alrededor del encabezado */
}

header h1 {
  font-family: "Roboto"; /* Utiliza una fuente manuscrita para un aspecto artístico */
  font-size: 3rem; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado del encabezado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}
.letter-class {
  text-align: center; /* Centra el texto */
  padding: 10px; /* Añade espacio alrededor del texto */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  max-width: 1500px; /* Define un ancho máximo para el contenedor */
}

section h1 {
  font-family: "Roboto", serif; /* Utiliza una fuente clásica para un toque elegante */
  font-size: 1.2rem; /* Tamaño de la fuente */
  line-height: 1.5; /* Espacio entre líneas */
  color: #333; /* Color del texto */
  margin: 5px; /* Añade márgenes alrededor de cada elemento h1 */
}

section h1::first-letter {
  font-size: 1.6rem; /* Tamaño de la primera letra más grande para un efecto decorativo */
  font-family: "Roboto"; /* Fuente manuscrita para la primera letra */
  line-height: 1; /* Ajusta la altura de la línea para la primera letra */
  text-transform: uppercase; /* Convierte la primera letra a mayúscula */
}

/* MUESTRARIO DE IMAGENES (CATEGORÍAS) */
.wrapper {
  margin-left: 130px; /* Agregar un margen a la izquierda*/
  display: grid; /* Define el elemento como un grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Define las columnas como 3 columnas de igual ancho */
  grid-template-rows: repeat(
    4,
    1fr
  ); /* Define las filas como 4 filas de igual alto */
  grid-column-gap: 0px; /* Define el espacio entre columnas */
  grid-row-gap: 0px; /* Define el espacio entre filas */
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 2 / 5 / 3;
}

.photo-card {
  width: 450px; /* Establece el ancho del contenedor */
  height: 300px; /* Establece la altura del contenedor */
  border-radius: 5px; /* Agrega un borde redondeado al contenedor */
  background-color: #fff; /* Establece el color de fondo del contenedor */
  padding: 1rem; /* Agrega un espacio de relleno al contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin-bottom: 2rem;
}

.photo-img {
  width: 450px; /* Establece el ancho del contenedor */
  height: 275px; /* Establece la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  position: relative; /* Para posicionar el texto sobre la imagen */
}

.photo-img img {
  width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
  height: 100%; /* Hace que la imagen ocupe el alto completo del contenedor */
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  max-height: 100%; /* Asegura que la imagen no se salga del contenedor */
}
.photo-img:hover {
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre la imagen */
  transform: scale(1.05);
  box-shadow: #aec8d5 0px 8px 40px, #f4cccc 0px 16px 56px, #d9d9d9 0px 24px 80px;
}

.photo-img::before {
  content: attr(data-collection-id); /* Muestra el nombre de la imagen */
  position: absolute; /* Se posiciona sobre la imagen */
  top: 50%; /* Alinea verticalmente en el centro */
  left: 50%; /* Alinea horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centra el texto */
  font-family: "Comic Sans MS";
  text-transform: uppercase; /* Convierte todo el texto a mayúsculas */
  color: black; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación centrada */
  visibility: hidden; /* Inicialmente oculto */
}

.photo-img:hover::before {
  visibility: visible; /* Muestra el nombre de la imagen cuando se coloca el cursor sobre ella */
}

.photo-img:hover img {
  opacity: 0.1; /* Hace que la imagen se vuelva opaca al pasar el cursor sobre ella */
}

.banner {
  background-image: url("../img/banner.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  padding: 50px 20px; /* Espacio interno alrededor del contenido */
  margin-bottom: 50px; /* Espacio inferior */
}

/*Gráfico*/

.chart-graphys {
  margin-top: 40px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
}

.myChart {
  width: 900px !important;
  height: 450px !important;
  margin: auto; /* Centra horizontalmente */
  display: block; /* Asegura que el margen automático funcione */
}

/*Carrusel*/

.carousel-inner img {
  margin-top: 40px; /* Espacio superior */
  height: 400px;
  width: 900px !important;
  justify-content: center;
  margin: auto;
  border-radius: 7px; /* Si deseas esquinas redondeadas en las imágenes */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
  display: none;
}

.d-none {
  display: none !important; /* Oculta los elementos */
}
