header {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 50px 0; /* Añade espacio alrededor del encabezado */
  background-color: #f7f7f7; /* Color de fondo */
}

header h1 {
  font-family: "Brush Script MT", cursive; /* Utiliza una fuente manuscrita para un aspecto artístico */
  font-size: 3rem; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado del encabezado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}
section {
  text-align: justify; /* Justifica el texto para una apariencia más limpia */
  padding: 20px; /* Añade espacio alrededor del texto */
  background-color: #f7f7f7; /* Color de fondo */
}

section h1 {
  font-family: "Georgia", serif; /* Utiliza una fuente clásica para un toque elegante */
  font-size: 1.2rem; /* Tamaño de la fuente */
  line-height: 1.6; /* Espacio entre líneas */
  color: #333; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado del encabezado */
}

section h1::first-letter {
  font-size: 2.5rem; /* Tamaño de la primera letra más grande para un efecto decorativo */
  font-family: "Brush Script MT", cursive; /* Fuente manuscrita para la primera letra */
  margin-right: 5px; /* Añade espacio entre la primera letra y el resto del texto */
  float: left; /* Hace que la primera letra flote a la izquierda para un efecto de inicial */
  line-height: 1; /* Ajusta la altura de la línea para la primera letra */
  text-transform: uppercase; /* Convierte la primera letra a mayúscula */
}

.container {
  width: 75%;
  margin: 0 auto;
}

.wrapper {
  margin-left: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 2 / 5 / 3;
}

.photo-card {
  width: 450px; /* Establece el ancho del contenedor */
  height: 300px; /* Establece la altura del contenedor */
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin-bottom: 2rem;
}

.photo-img {
  width: 450px; /* Establece el ancho del contenedor */
  height: 275px; /* Establece la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  position: relative; /* Para posicionar el texto sobre la imagen */
}

.photo-img img {
  width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
  height: 100%; /* Hace que la imagen ocupe el alto completo del contenedor */
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  max-height: 100%; /* Asegura que la imagen no se salga del contenedor */
}
.photo-img:hover {
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre la imagen */
  transform: scale(1.05);
  box-shadow: #aec8d5 0px 8px 40px, #f4cccc 0px 16px 56px, #d9d9d9 0px 24px 80px;
}

.photo-img::before {
  content: attr(data-collection-id); /* Muestra el nombre de la imagen */
  position: absolute; /* Se posiciona sobre la imagen */
  top: 50%; /* Alinea verticalmente en el centro */
  left: 50%; /* Alinea horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centra el texto */
  font-family: "Brush Script MT";
  text-transform: uppercase; /* Convierte todo el texto a mayúsculas */
  color: black; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación centrada */
  visibility: hidden; /* Inicialmente oculto */
}

.photo-img:hover::before {
  visibility: visible; /* Muestra el nombre de la imagen cuando se coloca el cursor sobre ella */
}

.photo-img:hover img {
  opacity: 0.1; /* Hace que la imagen se vuelva opaca al pasar el cursor sobre ella */
}

.photo-card-body {
  align-items: center;
  text-align: center;
}

.photo-chart img {
  width: 247px; /* Establece el ancho del contenedor */
  height: 150px; /* Establece la altura del contenedor */
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

.photo-chart h2 {
  width: 247px; /* Establece el ancho del contenedor */
  height: 150px; /* Establece la altura del contenedor */
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

.myChart {
  width: 900px !important;
  height: 450px !important;
  margin: auto; /* Centra horizontalmente */
  display: block; /* Asegura que el margen automático funcione */
}
